name: Pull Request Workflow
on: 
  pull_request

jobs: 
  Markdown-Linter:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: markdownlint-cli
      uses: avto-dev/markdown-lint@v1
      with:
        args: '.'
        config: '.markdownlint.yml'

  Deploy-Azure:
    needs: Markdown-Linter
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Build
      uses: jerryjvl/jekyll-build-action@v1
    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az storage blob upload-batch --account-name itcshamdemo --auth-mode key --account-key ${{ secrets.AZURE_BLOB_SECRET }} -d '$web' -s ./_site